certifi
chardet
cycler
dataclasses
easydict
idna
imutil
kiwisolver
numpy
Pillow
pkg-resources
pyparsing
python-dateutil
requests
six
typing-extensions
urllib3
opencv-python
pyyaml
easydict
scipy
pandas
tqdm
matplotlib
seaborn